@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--mauve-1);
  --foreground: var(--mauve-12);
  --card: var(--mauve-1);
  --card-foreground: var(--mauve-12);
  --popover: var(--mauve-1);
  --popover-foreground: var(--mauve-12);
  --primary: var(--mauve-9);
  --primary-foreground: #ffffff;
  --secondary: var(--mauve-3);
  --secondary-foreground: var(--mauve-12);
  --muted: var(--mauve-3);
  --muted-foreground: var(--mauve-10);
  --accent: var(--mauve-3);
  --accent-foreground: var(--mauve-12);
  --border: var(--mauve-5);
  --input: var(--mauve-5);
  --ring: var(--mauve-9);
  --radius: 0.5rem;
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
